{% extends 'common/_base.html' %}
{% load dropdowns %}

{% block title %}銀行口座詳細{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header d-flex justify-content-between align-items-center">
        銀行口座詳細
        <div>
            {% if not bank %}
                <a href="{% url 'profile:bank_edit' %}" class="btn btn-sm btn-primary">銀行口座登録</a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if bank %}
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label text-start text-sm-end">
                    <strong>銀行</strong>
                </label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">({{ bank.bank_code }}) {{ bank.bank_name }}</p>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label text-start text-sm-end">
                    <strong>支店</strong>
                </label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">({{ bank.branch_code }}) {{ bank.branch_name }}</p>
                </div>
            </div>
            <div class="row mb-1">
                <label class="col-sm-2 col-form-label text-start text-sm-end">
                    <strong>口座</strong>
                </label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">{% my_name 'bank_account_type' bank.account_type %} {{ bank.account_number }}</p>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label text-start text-sm-end">
                    <strong>口座名義</strong>
                </label>
                <div class="col-sm-10">
                    <p class="form-control-plaintext">{{ bank.account_holder }}</p>
                </div>
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <i class="bi bi-info-circle"></i>
                銀行口座が登録されていません。「銀行口座登録」ボタンから登録してください。
            </div>
        {% endif %}
        <div class="d-flex justify-content-start">
            {% if bank %}
                <a href="{% url 'profile:bank_edit' %}" class="btn btn-sm btn-primary ms-2">編集</a>
                <a href="{% url 'profile:bank_delete' %}" class="btn btn-sm btn-dark ms-2">削除</a>
            {% endif %}
            <a href="/profile/" class="btn btn-sm btn-secondary ms-2">戻る</a>
        </div>
    </div>
</div>

{% endblock %}
