{% extends 'common/_base.html' %}

{% block title %}銀行口座削除{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">
        銀行口座削除
    </div>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            銀行口座情報を削除しますか？この操作は取り消せません。
        </div>
        <p><strong>{{ bank.full_bank_info }}</strong></p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-dark">削除</button>
            <a href="{% url 'profile:index' %}" class="btn btn-sm btn-secondary">戻る</a>
        </form>
    </div>
</div>
{% endblock %}
