{% extends 'common/_base.html' %}

{% block title %}マイナンバー削除確認{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">
        マイナンバー削除確認
    </div>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            マイナンバーを削除しますか？この操作は取り消せません。
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label text-start text-md-end">メールアドレス</label>
            <div class="col-sm-10">
                <p class="form-control-plaintext">{{ mynumber.email }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label text-start text-md-end">マイナンバー</label>
            <div class="col-sm-10">
                <p class="form-control-plaintext">{{ mynumber.mynumber }}</p>
            </div>
        </div>

        <form method="post" class="mt-4">
            {% csrf_token %}
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-sm btn-dark">削除</button>
                <a href="{% url 'profile:index' %}" class="btn btn-sm btn-secondary ms-2">戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}