{% extends 'common/_base.html' %}
{% block title %}技能削除確認{% endblock %}
{% block content %}
<div class="content-box card bg-light mt-2 mb-4">
    <div class="card-header">技能削除確認</div>
    <div class="card-body">
        <p>本当に「{{ skill.skill.name }}」を削除しますか？</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">削除</button>
            <a href="{% url 'profile:skill_list' %}" class="btn btn-secondary">戻る</a>
        </form>
    </div>
</div>
{% endblock %}
