{% extends "account/_account_base.html" %}
{% load i18n %}

{% block title %}{% trans "Email Confirmed" %}{% endblock %}
{% block subtitle %}{% trans "メール認証が完了しました" %}{% endblock %}

{% block content %}
        <div class="alert alert-success">
          <i class="bi bi-check-circle"></i>
          メールアドレスの認証が正常に完了しました。
        </div>
        
        <p class="text-center">
          アカウントの登録が完了しました。ログインしてサービスをご利用ください。
        </p>
        
        <div class="text-center mt-4">
          <a href="{% url 'account_login' %}" class="btn btn-sm btn-primary">ログイン</a>
        </div>
{% endblock %}