{% load dropdowns %}
{% load badge_tags %}
<!-- スタッフ基本情報カード（インクルード用） -->
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">スタッフ基本情報</div>
    <div class="card-body">
        <div class="row mb-2 align-items-center">
            <div class="col">
                <div class="col-sm mb-2 d-flex align-items-center">
                    <span class="badge {{ staff.staff_regist_status_code|badge_class }}" style="font-size:12px">{% my_name 'staff_regist_status' staff.staff_regist_status_code %}</span>
                    {% if staff.employment_type %}
                        <span class="badge {{ staff.employment_type|badge_class }} ms-2" style="font-size:15px">{% my_name 'employment_type' staff.employment_type %}</span>
                    {% endif %}
                    {% if staff.employee_no %}
                        　<span style="font-size:18px">{{ staff.employee_no }}</span>
                    {% endif %}
                </div>
                <h4>
                    <ruby>
                        {{ staff.name_last }}<rt>{{ staff.name_kana_last }}</rt>
                    </ruby>
                    <ruby>
                        {{ staff.name_first }}<rt>{{ staff.name_kana_first }}</rt>
                    </ruby>
                    {% if staff.sex == 1 %}
                        <span class="badge bg-info" style="font-size:12px">{% my_name 'sex' staff.sex %}</span>
                    {% else %}
                        <span class="badge bg-primary" style="font-size:12px">{% my_name 'sex' staff.sex %}</span>
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- /スタッフ基本情報カード -->
