{% extends 'common/_base.html' %}

{% block content %}

<!-- スタッフ情報カード -->
{% include 'staff/_staff_info_card.html' %}

<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">{% if is_new %}スタッフ連絡先情報登録{% else %}スタッフ連絡先情報編集{% endif %}</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-sm btn-primary me-2">{% if is_new %}登録{% else %}更新{% endif %}</button>
                <a href="{% url 'staff:staff_detail' pk=staff.pk %}" class="btn btn-sm btn-secondary me-2">キャンセル</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
