{% extends 'common/_base.html' %}
{% load dropdowns %}
{% block content %}
{% include 'staff/_staff_info_card.html' with staff=staff %}

<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">スタッフ連絡予定 登録・編集</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {% for field, errors in form.errors.items %}
                    {% if field != '__all__' %}
                        {% for error in errors %}
                            <div><strong>{{ field }}:</strong> {{ error }}</div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div class="row mb-3 align-items-center">
                <label for="{{ form.contact_date.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.contact_date.label }}</label>
                <div class="col-sm-6">
                    {{ form.contact_date }}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="{{ form.contact_type.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.contact_type.label }}</label>
                <div class="col-sm-8">
                    {{ form.contact_type }}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="{{ form.content.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.content.label }}</label>
                <div class="col-sm-8">
                    {{ form.content }}
                </div>
            </div>
            <div class="row mb-3 align-items-center">
                <label for="{{ form.detail.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.detail.label }}</label>
                <div class="col-sm-8">
                    {{ form.detail }}
                </div>
            </div>

            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-sm btn-primary me-2">保存</button>
                <a href="{% if schedule %}{% url 'staff:staff_contact_schedule_detail' schedule.pk %}{% else %}{% url 'staff:staff_detail' staff.pk %}{% endif %}" class="btn btn-sm btn-secondary me-2">戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
