{% extends 'common/_base.html' %}

{% block content %}

<!-- スタッフ情報カード -->
{% include 'staff/_staff_info_card.html' %}

<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">スタッフ連絡先情報削除</div>
    <div class="card-body">
        <div class="alert alert-warning" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            本当にこの連絡先情報を削除しますか？この操作は元に戻せません。
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-sm btn-dark me-2">削除</button>
                <a href="{% url 'staff:staff_detail' pk=staff.pk %}" class="btn btn-sm btn-secondary me-2">戻る</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
