{% load dropdowns %}
{% load badge_tags %}
{# クライアント基本情報カード（インクルード用） #}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">クライアント基本情報</div>
    <div class="card-body">
        <div class="row mb-2 align-items-center">
            <div class="col">
                <h4 class="mb-1 d-flex align-items-center flex-wrap">
                    <ruby>
                        {{ client.name }}<rt>{{ client.name_furigana }}</rt>
                    </ruby>
                    {% if client.regist_status %}
                        <span class="badge {{ client.regist_status.display_order|badge_class }} ms-3" style="font-size:15px">{{ client.regist_status.name }}</span>
                    {% endif %}
                </h4>
                <div class="mt-2">
                    {% for tag in client.tags.all %}
                        <span class="badge rounded-pill {{ tag.display_order|badge_class }} me-1">
                            <i class="bi bi-tag-fill me-1"></i>{{ tag.name }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
