{% load dropdowns %}
{% load badge_tags %}
{# クライアント基本情報カード（インクルード用） #}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">クライアント基本情報</div>
    <div class="card-body">
        <div class="row mb-2 align-items-center">
            <div class="col">
                <h4 class="mb-1">
                    <ruby>
                        {{ client.name }}<rt>{{ client.name_furigana }}</rt>
                    </ruby>
                </h4>
                {% if client.regist_status %}
                    <span class="badge bg-primary" style="font-size:15px">{{ client.regist_status.name }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</div>
