{% extends 'common/base.html' %}
{% load my_dropdown_tags %}
{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">クライアント基本情報</div>
    <div class="card-body">
            {% csrf_token %}
            <div class="row mb-3 align-items-center">
                                
                <div class="col-sm-4">
                    <h4>
                        <ruby>
                            {{ client.name }}<rt>{{ client.name_furigana }}</rt>
                        </ruby>
                    </h4>
                    <div class="col-sm-2">
                        {% if client.regist_form_client < 10 %}
                            <span class="badge bg-primary" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% elif client.regist_form_client < 20 %}
                            <span class="badge bg-success" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% elif client.regist_form_client < 30 %}
                            <span class="badge bg-info" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% elif client.regist_form_client < 40 %}
                            <span class="badge bg-warning" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% elif client.regist_form_client >= 90 %}
                            <span class="badge bg-dark" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% else %}
                            <span class="badge bg-light" style="font-size:15px">{% my_name 'regist_form_client' client.regist_form_client %}</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-sm-2" style="text-align:right">
                    <strong>法人番号</strong>
                </div>
                <div class="col-sm-4">
                    <span class="copy-target">{{ client.corporate_number }}</span>
                    <i class="bi bi-copy copy-icon" onclick="copyToClipboard(this)"></i>
                    <span class="copy-message">コピーしました!</span>
                </div>
            </div>

            <div class="row mb-3 align-items-top">
                <div class="col-sm-2" style="text-align:right">
                    <strong>住所</strong>
                </div>
                <div class="col-sm-4">
                    〒 {{ client.postal_code }}<br/>
                    {{ client.address }}
                    {% if client.address %}
                    <a href="https://www.google.com/maps/search/?api=1&query={{ client.address | urlencode }}" target="_blank" class="text-decoration-none" style="color:green;margin-left: 5px;" aria-label="Googleマップで開く">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                {% endif %}
                </div>
            </div>
    
            <div class="row mb-3 align-items-center">
                <div class="col-sm-2" style="text-align:right">
                    <strong>URL</strong>
                </div>
                <div class="col-sm-10">
                    {{ client.url }}
                    {% if client.url %}
                    <a href="{{ client.url }}" target="_blank" class="text-decoration-none" style="color:green;margin-left: 5px;" aria-label="別ウィンドウで開く">
                        <i class="bi bi-box-arrow-up-right"></i>
                    </a>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <div class="col-sm-2" style="text-align:right">
                    <strong>メモ</strong>
                </div>
                <div class="col-sm-10">
                    {{ client.memo }}
                </div>
            </div>

            <div class="d-flex justify-content-start">
                {% if perms.client.change_client %}
                <a href="{% url 'client:client_update' client.pk %}" class="btn btn-sm btn-primary me-2">編集</a>
                {% endif %}
                {% if perms.client.delete_client %}
                <a href="{% url 'client:client_delete' client.pk %}" class="btn btn-sm btn-dark me-2">削除</a>
                {% endif %}
                <a href="{% url 'client:client_list' %}" class="btn btn-sm btn-secondary me-2">戻る</a>
            </div>
    </div>
</div>
<style>
    .copy-message {
        display: none;
        color: green;
        font-size: 0.8em;
        margin-left: 5px;
    }
    .copy-icon {
        color: green;
        font-size: 0.8em;
        cursor: pointer;
        margin-left: 5px;
    }
</style>
<script>
    function copyToClipboard(button) {
        // ボタンの前の .copy-target を探してテキストを取得
        const targetText = button.previousElementSibling.innerText;
        navigator.clipboard.writeText(targetText).then(() => {
            // コピーが成功したらメッセージを表示
            const copyMessage = button.nextElementSibling;
            copyMessage.style.display = "inline";
    
            // 2秒後にメッセージを非表示にする
            setTimeout(() => {
                copyMessage.style.display = "none";
            }, 1000);
        }).catch(err => {
            console.error("コピーに失敗しました: ", err);
        });
    }
</script>



<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header d-flex justify-content-between align-items-center">
        クライアント連絡履歴
        {% if perms.client.add_clientcontacted %}
        <a href="{% url 'client:client_contacted_create' client.id %}" class="btn btn-sm btn-primary">連絡登録</a>
        {% endif %}
    </div>
    <div class="card-body mb-0" style="margin-bottom: 2rem;">
        <table class="table table-hover me-2 mt-2 mb-0" style="border-top: 1px solid #ddd;">
            <thead>
                <tr>
                    <th>連絡種別</th>
                    <th>対応内容</th>
                    <th>対応者</th>
                    <th>日時</th>
                </tr>
            </thead>
            <tbody>
                {% for contacted in client.contacted_histories.all|slice:":5" %}
                <tr>
                    <td>
                        {% if contacted.contact_type %}
                            {% if contacted.contact_type < 10 %}
                                <span class="badge bg-primary">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% elif contacted.contact_type < 20 %}
                                <span class="badge bg-success">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% elif contacted.contact_type < 30 %}
                                <span class="badge bg-info">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% elif contacted.contact_type < 40 %}
                                <span class="badge bg-warning">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% elif contacted.contact_type < 50 %}
                                <span class="badge bg-danger">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% elif contacted.contact_type >= 90 %}
                                <span class="badge bg-dark">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% else %}
                                <span class="badge bg-light">{% my_name 'contact_type' contacted.contact_type %}</span>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td><a href="{% url 'client:client_contacted_detail' contacted.pk %}">{{ contacted.content }}</a></td>
                    <td>
                        {% if contacted.created_by.last_name or contacted.created_by.first_name %}
                            {{ contacted.created_by.last_name }} {{ contacted.created_by.first_name }}
                        {% else %}
                            {{ contacted.created_by.username }}
                        {% endif %}
                    </td>
                    <td>{{ contacted.contacted_at|date:'Y/m/d H:i:s' }}</td>
                </tr>
                {% empty %}
                <tr><td colspan="3">履歴がありません。</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {% if client.contacted_histories.count > 5 %}
        <div class="text-center">
            <a href="{% url 'client:client_contacted_list' client.id %}" class="btn btn-link">全て表示</a>
        </div>
        {% endif %}
    </div>
</div>

<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header d-flex justify-content-between align-items-center">
        変更履歴（※未実装のサンプルです）
    </div>
    <div class="card-body mb-0">
        <table class="table table-hover me-2 mt-2 mb-0" style="border-top: 1px solid #ddd;">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>変更内容</th>
                    <th>変更者</th>
                    <th>変更日時</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10</td>
                    <td>電話番号修正</td>
                    <td>鈴木</td>
                    <td>2020/11/12 13:55:00</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>住所修正</td>
                    <td>鈴木</td>
                    <td>2020/11/12 13:50:00</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>削除復活</td>
                    <td>admin</td>
                    <td>2019/11/12 13:50:00</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>削除</td>
                    <td>admin</td>
                    <td>2019/01/01 13:50:00</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>修正なし</td>
                    <td>清水</td>
                    <td>2018/10/21 13:50:00</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer d-flex justify-content-center align-items-center">
        <a href="#">全て表示</a>
    </div>
</div>
{% endblock %}




