{% extends 'common/_base.html' %}
{% load badge_tags %}

{% block content %}
{% include 'client/_client_info_card.html' with client=client %}

<div class="content-box card bg-light mt-2 mb-4">
    <div class="card-header">
        <h5 class="mb-0">組織変更履歴：{{ department.name }}</h5>
    </div>
    <div class="card-body">
        <a href="{% url 'client:client_department_detail' department.pk %}" class="btn btn-secondary btn-sm">
            組織詳細に戻る
        </a>
    </div>
</div>

{% url 'client:client_department_detail' department.pk as back_url %}
{% with change_logs=logs change_logs_count=logs.paginator.count history_url='' title='組織変更履歴一覧' back_url=back_url show_full_content=True %}
    {% include 'common/_change_history_list.html' %}
{% endwith %}

{% endblock %}