{% extends 'common/_base.html' %}
{% load static %}
{% load humanize %}
{% load dropdowns %}
{% load badge_tags %}

{% block title %}クライアント契約 発行履歴 - {{ contract.contract_name }}{% endblock %}

{% block content %}

<div class="content-box card bg-light mt-2 mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        クライアント契約詳細
    </div>
    <div class="card-body">
        {% include 'contract/_client_contract_header.html' %}
    </div>
</div>

{% url 'contract:client_contract_detail' contract.pk as back_url_path %}
{% with issue_history=page_obj title="発行履歴一覧" back_url=back_url_path %}
    {% include 'contract/_issue_history.html' with contract_type='client' download_url_name='contract:download_client_contract_pdf' %}
{% endwith %}
{% endblock %}