{% extends 'common/_base.html' %}
{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header d-flex justify-content-between align-items-center">
        会社情報
        <a href="{% url 'company:company_edit' %}" class="btn btn-sm btn-primary">編集</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tr>
                        <th style="width: 30%;">会社名</th>
                        <td>{{ company.name }}</td>
                    </tr>
                    <tr>
                        <th>法人番号</th>
                        <td>{{ company.corporate_number|default:"未設定" }}</td>
                    </tr>
                    <tr>
                        <th>郵便番号</th>
                        <td>{{ company.postal_code|default:"未設定" }}</td>
                    </tr>
                    <tr>
                        <th>住所</th>
                        <td>{{ company.address|default:"未設定" }}</td>
                    </tr>
                    <tr>
                        <th>電話番号</th>
                        <td>{{ company.phone_number|default:"未設定" }}</td>
                    </tr>
                    <tr>
                        <th>URL</th>
                        <td>
                            {% if company.url %}
                                <a href="{{ company.url }}" target="_blank">{{ company.url }}</a>
                            {% else %}
                                未設定
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="mt-4">
            <h5>部署管理</h5>
            <a href="{% url 'company:department_list' %}" class="btn btn-outline-primary">部署一覧を見る</a>
        </div>
    </div>
</div>
{% endblock %}