{% extends 'common/_base.html' %}
{% load static %}
{% load help_tags %}
{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">
        会社情報編集
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row mb-3 align-items-center">
                <label for="{{ form.corporate_number.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.corporate_number.label }}
                    {% my_help_preset "corporate_number" %}
                </label>
                <div class="col-sm-4">
                    {{ form.corporate_number }}
                    {% if form.corporate_number.errors %}
                        <div class="text-danger">{{ form.corporate_number.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <button type="button" id="fetch-gbiz-btn" class="btn btn-sm btn-secondary me-2">gBiz</button>
                    {% my_help_preset "gbiz_api" %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.name.label }}</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="text-danger">{{ form.name.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.representative.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.representative.label }}</label>
                <div class="col-sm-6">
                    {{ form.representative }}
                    {% if form.representative.errors %}
                        <div class="text-danger">{{ form.representative.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row align-items-center">
                <label for="{{ form.postal_code.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.postal_code.label }}
                    {% my_help_preset "postal_code" %}
                </label>
                <div class="col-sm-3">
                    {{ form.postal_code }}
                    {% if form.postal_code.errors %}
                        <div class="text-danger">{{ form.postal_code.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <button type="button" id="fetch-zipcode-btn" class="btn btn-sm btn-secondary me-2">住所</button>
                    {% my_help_preset "postal_api" %}
                </div>
            </div>
            
            <div class="row align-items-top">
                <label for="{{ form.address.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.address.label }}</label>
                <div class="col-sm-10">
                    {{ form.address }}
                    {% if form.address.errors %}
                        <div class="text-danger">{{ form.address.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.phone_number.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.phone_number.label }} {% my_help_preset "phone_number" %}</label>
                <div class="col-sm-6">
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="text-danger">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row align-items-center">
                <label for="{{ form.haken_permit_number.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.haken_permit_number.label }}</label>
                <div class="col-sm-2">
                    {{ form.haken_permit_number }}
                    {% if form.haken_permit_number.errors %}
                        <div class="text-danger">{{ form.haken_permit_number.errors }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.shokai_permit_number.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.shokai_permit_number.label }}</label>
                <div class="col-sm-2">
                    {{ form.shokai_permit_number }}
                    {% if form.shokai_permit_number.errors %}
                        <div class="text-danger">{{ form.shokai_permit_number.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            
            <div class="mt-4">
                <button type="submit" class="btn btn-sm btn-primary me-1">保存</button>
                <a href="{% url 'company:company_detail' %}" class="btn btn-sm btn-secondary">戻る</a>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/form_utils.js' %}"></script>
<script>
$(document).ready(function() {
    setupCorporateInfoFetching({
        corporateNumberFieldId: 'id_corporate_number',
        buttonId: 'fetch-gbiz-btn',
        url: "{% url 'get_company_info' %}",
        infoMappings: {
            name: 'id_name',
            representative_name: 'id_representative',
            location: 'id_address',
            postal_code: 'id_postal_code'
        },
        apiMessageId: 'api-message'
    });

    setupZipcodeFetching({
        zipcodeFieldId: 'id_postal_code',
        buttonId: 'fetch-zipcode-btn',
        url: "{% url 'get_zipcode_info' %}",
        addressMappings: [
            { from: ['address1', 'address2', 'address3'], to: 'id_address' }
        ],
        apiMessageId: 'api-message'
    });
});
</script>

{% endblock %}