{% extends 'common/_base.html' %}
{% load static %}
{% load help_tags %}
{% block content %}
            
{% include 'company/_company_info_card.html' %}

<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">
        {{ title }}
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row mb-3 align-items-center">
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.name.label }}</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="text-danger">{{ form.name.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row align-items-center">
                <label for="{{ form.department_code.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.department_code.label }}</label>
                <div class="col-sm-4">
                    {{ form.department_code }}
                    {% if form.department_code.errors %}
                        <div class="text-danger">{{ form.department_code.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row align-items-center">
                <label for="{{ form.accounting_code.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.accounting_code.label }}</label>
                <div class="col-sm-4">
                    {{ form.accounting_code }}
                    {% if form.accounting_code.errors %}
                        <div class="text-danger">{{ form.accounting_code.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.display_order.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.display_order.label }}</label>
                <div class="col-sm-3">
                    {{ form.display_order }}
                    {% if form.display_order.errors %}
                        <div class="text-danger">{{ form.display_order.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row align-items-center">
                <label for="{{ form.valid_from.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.valid_from.label }}
                    {% my_help_preset "valid_period" %}
                </label>
                <div class="col-sm-3">
                    {{ form.valid_from }}
                    {% if form.valid_from.errors %}
                        <div class="text-danger">{{ form.valid_from.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.valid_to.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.valid_to.label }}
                    {% my_help_preset "valid_period" %}
                </label>
                <div class="col-sm-3">
                    {{ form.valid_to }}
                    {% if form.valid_to.errors %}
                        <div class="text-danger">{{ form.valid_to.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-1 align-items-center">
                <label for="{{ form.postal_code.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.postal_code.label }}
                    {% my_help_preset "postal_code" %}
                </label>
                <div class="col-sm-3">
                    {{ form.postal_code }}
                    {% if form.postal_code.errors %}
                        <div class="text-danger">{{ form.postal_code.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <button type="button" id="fetch-zipcode-btn" class="btn btn-sm btn-secondary me-2">住所</button>
                    {% my_help_preset "postal_api" %}
                </div>
            </div>
            
            <div class="row align-items-top">
                <label for="{{ form.address.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.address.label }}</label>
                <div class="col-sm-10">
                    {{ form.address }}
                    {% if form.address.errors %}
                        <div class="text-danger">{{ form.address.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.phone_number.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">{{ form.phone_number.label }} {% my_help_preset "phone_number" %}</label>
                <div class="col-sm-6">
                    {{ form.phone_number }}
                    {% if form.phone_number.errors %}
                        <div class="text-danger">{{ form.phone_number.errors }}</div>
                    {% endif %}
                </div>
            </div>
            
            <div class="mt-4">
                <button type="submit" class="btn btn-sm btn-primary me-1">保存</button>
                <a href="{% if department %}{% url 'company:department_detail' department.pk %}{% else %}{% url 'company:company_detail' %}{% endif %}" class="btn btn-sm btn-secondary">戻る</a>
            </div>
        </form>
    </div>
</div>

{% include 'company/_department_list_table.html' %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/form_utils.js' %}"></script>
<script>
$(document).ready(function() {
    setupZipcodeFetching({
        zipcodeFieldId: 'id_postal_code_dept',
        buttonId: 'fetch-zipcode-btn',
        url: "{% url 'get_zipcode_info' %}",
        addressMappings: [
            { from: ['address1', 'address2', 'address3'], to: 'id_address_dept' }
        ],
        apiMessageId: 'api-message'
    });
});
</script>

{% endblock %}