{% extends "common/_base.html" %}

{% block title %}スタッフ同意文言詳細{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4">スタッフ同意文言詳細</h1>
    <hr>

    <div class="card">
        <div class="card-header">
            <h3>{{ agreement.name }}</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">名称</dt>
                <dd class="col-sm-9">{{ agreement.name }}</dd>

                <dt class="col-sm-3">文言</dt>
                <dd class="col-sm-9" style="white-space: pre-wrap;">{{ agreement.agreement_text }}</dd>

                <dt class="col-sm-3">表示順</dt>
                <dd class="col-sm-9">{{ agreement.display_order }}</dd>

                <dt class="col-sm-3">有効</dt>
                <dd class="col-sm-9">{{ agreement.is_active|yesno:"はい,いいえ" }}</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a href="{% url 'master:staff_agreement_list' %}" class="btn btn-secondary">一覧に戻る</a>
        </div>
    </div>
</div>
{% endblock %}
