{% load favorite_tags %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">
        月次勤怠詳細
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h6 class="text-muted mb-3">基本情報</h6>
                <table class="table table-sm">
                    <tr><th style="width: 40%;">スタッフ</th><td><a href="{% url 'staff:staff_detail' timesheet.staff.pk %}">{{ timesheet.staff }}</a>{% favorite_star timesheet.staff %}</td></tr>
                    <tr><th>スタッフ契約</th><td><a href="{% url 'contract:staff_contract_detail' timesheet.staff_contract.pk %}">{{ timesheet.staff_contract }}</a>{% favorite_star timesheet.staff_contract.client %}</td></tr>
                    <tr><th>契約期間</th><td>{{ timesheet.staff_contract.contract_period_display }}</td></tr>
                    <tr>
                        <th>就業時間</th>
                        <td>
                            {% if timesheet.staff_contract.worktime_pattern %}
                                {% include 'common/_worktime_pattern_display.html' with worktime_pattern=timesheet.staff_contract.worktime_pattern %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>時間外算出</th>
                        <td>
                            {% if timesheet.staff_contract.overtime_pattern %}
                                {% include 'common/_overtime_pattern_display.html' with overtime_pattern=timesheet.staff_contract.overtime_pattern %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <h6 class="text-muted mb-3">勤怠集計</h6>
                <table class="table table-sm">
                    <tr><th style="width: 40%;">対象年月</th><td>{{ timesheet.target_month|date:"Y年m月" }}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
