{% extends 'common/common_delete.html' %}
{% load staff_tags %}

{% block title %}削除確認{% endblock %}

{% block delete_title %}削除確認{% endblock %}

{% block card_header %}クライアント月次勤怠 削除確認{% endblock %}

{% block delete_content %}
    以下の月次勤怠データを削除します。この操作は取り消せません。
{% endblock %}

{% block content_after_alert %}
    <table class="table table-sm table-bordered bg-white mt-3">
        <tr>
            <th style="width: 30%;" class="bg-light">クライアント</th>
            <td>{{ timesheet.client.name }}</td>
        </tr>
        <tr>
            <th class="bg-light">スタッフ</th>
            <td>{{ timesheet.staff.name }}{% staff_status_markers timesheet.staff %}</td>
        </tr>
        <tr>
            <th class="bg-light">対象年月</th>
            <td>{{ timesheet.target_month|date:'Y年m月' }}</td>
        </tr>
    </table>
{% endblock %}

{% block back_button %}
<a href="{% url 'kintai:client_timesheet_detail' timesheet.pk %}" class="btn btn-sm btn-secondary">キャンセル</a>
{% endblock %}
