{% extends 'common/_base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="row mb-3 align-items-center">
                <label for="{{ form.contract_clause.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">契約条項</label>
                <div class="col-sm-10">
                    {{ form.contract_clause }}
                    {% if form.contract_clause.errors %}
                        <div class="text-danger small">{{ form.contract_clause.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.contract_terms.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">契約文言</label>
                <div class="col-sm-10">
                    {{ form.contract_terms }}
                    {% if form.contract_terms.errors %}
                        <div class="text-danger small">{{ form.contract_terms.errors.0 }}</div>
                    {% endif %}
                    <div class="text-muted small mt-2">
                        {% verbatim %}{{company_name}}{% endverbatim %}：あなたの会社名に置換されます。
                    </div>
                    <div class="text-muted small mt-2">
                        {% verbatim %}{{client_name}}{% endverbatim %}：契約する会社名に置換されます。
                    </div>
                    <div class="text-muted small mt-2">
                        {% verbatim %}{{staff_name}}{% endverbatim %}：契約スタッフ名に置換されます。
                    </div>
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label class="col-sm-2 col-form-label text-start text-md-end">表示場所</label>
                <div class="col-sm-10">
                    {% for radio in form.display_position %}
                    <div class="form-check form-check-inline">
                        {{ radio.tag }}
                        <label class="form-check-label" for="{{ radio.id_for_label }}">
                            {{ radio.choice_label }}
                        </label>
                    </div>
                    {% endfor %}
                    {% if form.display_position.errors %}
                        <div class="text-danger small">{{ form.display_position.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.memo.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">メモ</label>
                <div class="col-sm-10">
                    {{ form.memo }}
                    {% if form.memo.errors %}
                        <div class="text-danger small">{{ form.memo.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.display_order.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">表示順</label>
                <div class="col-sm-3">
                    {{ form.display_order }}
                    {% if form.display_order.errors %}
                        <div class="text-danger small">{{ form.display_order.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col text-left">
                    <button type="submit" class="btn btn-sm btn-primary me-2">保存</button>
                    <a href="{% url 'master:contract_pattern_detail' pattern.pk %}" class="btn btn-sm btn-secondary">戻る</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
