{% extends 'common/_base.html' %}
{% load dropdowns badge_tags %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4">
    <div class="card-header">お知らせ詳細</div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>対象</strong></div>
            <div class="col-sm-10">
                <span class="badge {{ information.target|badge_class }}">{% my_name 'domain' information.target %}</span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>件名</strong></div>
            <div class="col-sm-10">{{ information.subject }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>内容</strong></div>
            <div class="col-sm-10" style="white-space: pre-wrap;">{{ information.content }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>開始日</strong></div>
            <div class="col-sm-10">{{ information.start_date|date:"Y/m/d"|default:"-" }}</div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>終了日</strong></div>
            <div class="col-sm-10">{{ information.end_date|date:"Y/m/d"|default:"-" }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-2 text-md-end"><strong>添付ファイル</strong></div>
            <div class="col-sm-10">
                {% if information.files.all %}
                    <ul class="list-unstyled">
                        {% for file in information.files.all %}
                            <li class="mb-1">
                                <a href="{{ file.file.url }}" target="_blank">{{ file.filename }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="mb-0">-</p>
                {% endif %}
            </div>
        </div>

        <div class="d-flex justify-content-start mt-4">
            <a href="{% url 'master:information_update' information.pk %}" class="btn btn-sm btn-primary me-2">編集</a>
            <a href="{% url 'master:information_delete' information.pk %}" class="btn btn-sm btn-dark me-2">削除</a>
            <a href="{% url 'master:information_list' %}" class="btn btn-sm btn-secondary">戻る</a>
        </div>
    </div>
</div>
{% endblock %}
