{% extends 'common/_base.html' %}
{% load static %}
{% load help_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4" style="max-width: 100%;">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="row mb-3 align-items-center">
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">名称</label>
                <div class="col-sm-6">
                    {{ form.name }}
                    {% if form.name.errors %}
                        <div class="text-danger small">{{ form.name.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.jobs_kourou.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">職業分類(厚労省)</label>
                <div class="col-sm-6">
                    {{ form.jobs_kourou }}
                    {% if form.jobs_kourou.errors %}
                        <div class="text-danger small">{{ form.jobs_kourou.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.jobs_soumu.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">職業分類(総務省)</label>
                <div class="col-sm-6">
                    {{ form.jobs_soumu }}
                    {% if form.jobs_soumu.errors %}
                        <div class="text-danger small">{{ form.jobs_soumu.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.name.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">
                    製造派遣該当
                    {% my_help_icon "製造派遣に該当する場合、派遣元/派遣先責任者の契約書への印字がかわります" %}
                </label>
                <div class="col-sm-6">
                        {{ form.is_manufacturing_dispatch }}
                        <label class="form-check-label" for="{{ form.is_manufacturing_dispatch.id_for_label }}">
                            製造派遣に該当する
                        </label>
                        {% if form.is_manufacturing_dispatch.errors %}
                            <div class="text-danger small">{{ form.is_manufacturing_dispatch.errors.0 }}</div>
                        {% endif %}
                </div>
            </div>

            <div class="row mb-3 align-items-center">
                <label for="{{ form.display_order.id_for_label }}" class="col-sm-2 col-form-label text-start text-md-end">表示順</label>
                <div class="col-sm-3">
                    {{ form.display_order }}
                    {% if form.display_order.errors %}
                        <div class="text-danger small">{{ form.display_order.errors.0 }}</div>
                    {% endif %}
                </div>
            </div>


            <div class="row mb-3 align-items-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <div class="form-check">
                        {{ form.is_active }}
                        <label class="form-check-label" for="{{ form.is_active.id_for_label }}">
                            有効
                        </label>
                        {% if form.is_active.errors %}
                            <div class="text-danger small">{{ form.is_active.errors.0 }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col text-left">
                    <button type="submit" class="btn btn-sm btn-primary me-2">保存</button>
                    <a href="{% url 'master:job_category_list' %}" class="btn btn-sm btn-secondary">戻る</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
