{% extends 'common/_base.html' %}
{% load static %}

{% block title %}マスタ管理{% endblock %}

{% block content %}
<div class="content-box card bg-light mt-2 mb-4">
    <div class="card-header">
        <h5>マスタ管理</h5>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>マスタ名</th>
                        <th>説明</th>
                        <th>データ数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for master in masters %}
                    <tr>
                        <td>{{ master.name }}</td>
                        <td>{{ master.description }}</td>
                        <td>{{ master.data_count }}件</td>
                        <td>
                            <a href="{{ master.url }}" class="btn btn-sm btn-dark" title="編集">
                                <i class="bi bi-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">利用可能なマスタがありません。</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}